################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/demos/.vs
/demos/FPL/x64/Debug
/demos/x64/Debug
