################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.idea
.kev4
.idea
*.db
*.opendb
*.pdb
*.obj
*.aps
*.user
/demos/**/.vs
/demos/**/.kdev4
/demos/**/.idea
/demos/x64
/demos/x86
/demos/win32
/demos/bin
/demos/build
/demos/cmake
/demos/immediates
/demos/setup
/demos/dependencies/ffmpeg/bin/*.dll
/docs_fpl/html

/.gitconfig
/apps/bin/fontrendering/x64-Release
/apps/bin/OpenGLExtParser/x64-Release
/apps/bin/ProtParser/x64-Release
/apps/bin/staticdatamaker/x64-Release
/apps/immediates
/apps/ProtParser/obj/x64/Release
apps/data/body.txt
apps/data/header.txt
apps/bin/
apps/EnumToSwitchConverter/obj/
